
body {
  align-items: center;
  max-width: 500px;
}

h1 {
    text-align: center;
    color: rgba(240, 17, 17, 0.74);
    padding: .2em;
    border-radius: .6em;
}

h2 {
    margin: 1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);
    flex-flow: row wrap;
    height: 200px;
    width: 200px;
    background: white;
}

.box {
    width: 20px;
    height: 20px;
}

button {
    padding: .6em;
    border-radius: .4em;
    font-size: 1rem;
    margin: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    background: lightgrey;
    padding: 2em 2em 2em 0;
}
.snake {
    width: 20px;
    height: 20px;
    background: blue;
}

.apple {
    width: 20px;
    height: 20px;
    background: red;
}